<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

        <meta name="robots" content="index" />

        <!-- Primary Meta Tags -->
        <title>Tucano Robotics</title>
        <meta name="title" content="Tucano Robotics">
        <meta name="description" content="Soluciones basadas en robótica, inteligencia artificial, desarrollo web, drones y sistemas electrónicos">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://tucanoar.com/">
        <meta property="og:title" content="Tucano Robotics">
        <meta property="og:description" content="Soluciones basadas en robótica, inteligencia artificial, desarrollo web, drones y sistemas electrónicos">
        <meta property="og:image" content="https://tucanoar.com/img/logo_wh_bg_640.png">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://tucanoar.com/">
        <meta property="twitter:title" content="Tucano Robotics">
        <meta property="twitter:description" content="Soluciones basadas en robótica, inteligencia artificial, desarrollo web, drones y sistemas electrónicos">
        <meta property="twitter:image" content="https://tucanoar.com/img/logo_wh_bg_640.png">

        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-white text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger text-secondary d-none d-sm-block aquatico" href="#page-top">Tucano Robotics</a><button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-secondary" href="#portfolio">Expertos en</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-secondary" href="#about">TUCANO?</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger text-secondary" href="#contact">Escríbenos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-secondary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <img class="masthead-avatar mb-2" style="max-width: 100%" src="img/logoWhite2.png" alt="" />
            </div>
        </header>
        <!-- Portfolio Section-->
        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 aquatico">Expertos en</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row">
                    <!-- Portfolio Item 1-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#drone-mapping">
                            <img class="img-fluid" src="img/portfolio/zumbidoBG.png" alt="" />
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center w-100">
                                <div class="portfolio-item-caption-content text-center text-white aller">Drone Mapping 🏔</div>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Item 2-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#agrobotica">
                            <img class="img-fluid" src="img/portfolio/smartFarmSquare.png" alt="" />
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center w-100">
                                <div class="portfolio-item-caption-content text-center text-white aller">Agrobótica 🌱</div>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Item 3-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#drone-remoto">
                            <img class="img-fluid" src="img/portfolio/roboticsSquare2.png" alt="" />
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center w-100">
                                <div class="portfolio-item-caption-content text-center text-white aller">Drone Cloud ☁️</div>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Item 4-->
                    <div class="col-md-6 col-lg-4 mb-5">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#inteligencia-artificial">
                            <img class="img-fluid" src="img/portfolio/aiSquare2.png" alt="" />
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center w-100">
                                <div class="portfolio-item-caption-content text-center text-white aller">AI / ML 🤖</div>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Item 5-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#electronica">
                            <img class="img-fluid" src="img/portfolio/electronicsSquare2.png" alt="" />
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center w-100">
                                <div class="portfolio-item-caption-content text-center text-white aller">Robótica 🦾</div>
                            </div>
                        </div>
                    </div>
                    <!-- Portfolio Item 6-->
                    <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#solar">
                            <img class="img-fluid" src="img/portfolio/solarPanelSquare.png" alt="" />
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center w-100">
                                <div class="portfolio-item-caption-content text-center text-white aller">Solar ☀️</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white aquatico">TUCANO?</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row franklin">
                    <div class="col-lg-6 ml-auto"><p class="lead">Somos un grupo de amigos ingenieros de la ciudad de Medellín, egresados de la Universidad de Antioquia con el propósito de poner la tecnología al servicio de la socidedad, impactando diversos campos con herramientas como la electrónica, los drones, la inteligencia artificial y el desarrollo de software.</p></div>
                    <div class="col-lg-6 mr-auto"><p class="lead">Tucano Robotics tiene como objetivo principal brindar soluciones óptimas, económicas, seguras y autónomas. ¿Trabajas en alguna aplicación que crees se pueda solucionar con AI, electrónica, desarrollo web o con robótica? Cuentanos, seguro que juntos encontramos la mejor solución :)</p></div>
                </div>
                <!-- About Section Names -->
                <div class="text-center mt-4 aller">
                    Jose - Alejo - Santiago - Faber
                </div>
            </div>
        </section>
        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 franklin">Escríbenos</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                        <form id="contactForm" name="sentMessage" novalidate="novalidate">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>¿Cuál es tu nombre?</label><input class="form-control" id="name" type="text" placeholder="¿Cuál es tu nombre?" required="required" data-validation-required-message="Por favor ingresa un nombre." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>¿Dónde te escribimos?</label><input class="form-control" id="email" type="email" placeholder="¿Dónde te escribimos?" required="required" data-validation-required-message="Por favor ingresa una dirección de correo." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>¿Dónde te llamamos?</label><input class="form-control" id="phone" type="tel" placeholder="¿Dónde te llamamos?" required="required" data-validation-required-message="Por favor ingresa un número de contacto." />
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Cuéntanos ...</label><textarea class="form-control" id="message" rows="5" placeholder="Cuéntanos ..." required="required" data-validation-required-message="Cuentanos un poco..."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br />
                            <div id="success"></div>
                            <div class="form-group"><button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">Enviar</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer text-center py-5">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Ubicación</h4>
                        <p class="lead mb-0">Medellín, Rionegro y Guarne.<br />Antioquia, Colombia.</p>
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-6 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Síguenos</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/tucanorobotics/" target="_blank"><i class="fab fa-fw fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/TucanoRobotics" target="_blank"><i class="fab fa-fw fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/tucanorobotics/" target="_blank"><i class="fab fa-fw fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <section class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright © Tucano Aerial Robotics 2020</small></div>
            <div><small>Iconos diseñados por <a href="https://www.flaticon.es/autores/becris" title="Becris">Becris,</a> <a href="https://www.flaticon.es/icono-gratis/gps_2890968" title="surang">surang, </a> <a href="https://www.flaticon.es/icono-gratis/zumbido_768067" title="Smartline">Smartline, </a> <a href="https://www.flaticon.es/autores/nikita-golubev" title="Nikita Golubev">Nikita Golubev, </a> <a href="https://www.flaticon.es/autores/pixelmeetup" title="Pixelmeetup">Pixelmeetup, </a> <a href="https://www.flaticon.es/autores/vectors-market" title="Vectors Market">Vectors Market, </a> <a href="https://www.flaticon.es/autores/eucalyp" title="Eucalyp">Eucalyp, </a> <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a></small></div>
        </section>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>





        <!-- PORTFOLIO MODALS -->
        <!-- Modal Inteligencia Artificial -->
        <div class="portfolio-modal modal fade" id="inteligencia-artificial" tabindex="-1" role="dialog" aria-labelledby="inteligencia_arti-icialLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Inteligencia Artificial</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="img/portfolio/aiSquare2.png" alt="" /><!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Entrenamos modelos a partir de datos de nuestros clientes con el fin de identificar patronoes y tendencias  logrando realizar predicciones de forma automática con gran rapidez y precisión. </p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Portfolio Modal 2-->
        <div class="portfolio-modal modal fade" id="drone-remoto" tabindex="-1" role="dialog" aria-labelledby="drone-remotoLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Drones Controlados Remotamente</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="img/portfolio/roboticsSquare2.png" alt="" /><!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Puedes controlar uno o varios drones desde cualquier parte del mundo donde tengas acceso a Internet, en donde podrás tener el tiempo real datos como: videos, fotografías, estado del drone y varibles de sensores (temperatura, humedad, CO2, etc).</p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Portfolio Modal 3-->
        <div class="portfolio-modal modal fade" id="agrobotica" tabindex="-1" role="dialog" aria-labelledby="agroboticaLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Agrobótica</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="img/portfolio/smartFarmSquare.png" alt="" /><!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Monitoreamos cultivos autonomamente por medio de drones, brindando información de enfermedades, maleza, presencia de insectos con el fin de tener medidas que le ayuden a tomar mejores desiciones respecto a su cultivo.</p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Portfolio Modal 4-->
        <div class="portfolio-modal modal fade" id="electronica" tabindex="-1" role="dialog" aria-labelledby="electronicaLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Desarrollo de sistemas electrónicos</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="img/portfolio/electronicsSquare2.png" alt="" /><!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Ajustamos su solución electrónica con conexión a la nube con el fin de que tenga monitoreo en tiempo real de los datos que desee capturar. </p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Portfolio Modal 5-->
        <div class="portfolio-modal modal fade" id="solar" tabindex="-1" role="dialog" aria-labelledby="solarLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Monitoreo de Paneles Solares</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="img/portfolio/solarPanelSquare.png" alt="" /><!-- Portfolio Modal - Text-->
                                    <p class="mb-5">Monitoreamos sus paneles solares por medio de drones, identificando los que presentan fallas y brindando una alerta a tiempo para que logren ser reemplazados. </p>
                                    <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Portfolio Modal 6-->
        <div class="portfolio-modal modal fade" id="drone-mapping" tabindex="-1" role="dialog" aria-labelledby="drone-mappingLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header pb-0">
                        <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0 mx-auto">Drone Mapping</h2>
                        <button class="close p-0" type="button" data-dismiss="modal" aria-label="Close" style="transform:scale(0.7)">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                    </div>
                    <div class="modal-body text-center p-0">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">

                                    <!-- Icon Divider-->
                                    <div class="divider-custom m-0">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>

                                    <!-- Portfolio Modal - Text-->
                                    <p class="aller p-2 m-0">Levantamiento topográfico de terrenos para uso en arquitectura y asuntos jurídicos. Puede incluir medidas de áreas y distancias personalizadas.</p>

                                    <div id="carousel-drone-mapping" class="carousel slide mb-3" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-drone-mapping" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-drone-mapping" data-slide-to="1"></li>
                                            <li data-target="#carousel-drone-mapping" data-slide-to="2"></li>
                                        </ol>
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img class="d-block w-100" src="img/carousel/altovirgen.jpeg" alt="">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="img/carousel/contour.jpeg" alt="">
                                            </div>
                                            <div class="carousel-item">
                                                <img class="d-block w-100" src="img/carousel/3dmodel.gif" alt="">
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carousel-drone-mapping" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel-drone-mapping" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="js/jqBootstrapValidation.js"></script>
        <script src="js/contact_me.js"></script>
        <!-- Core JS -->
        <script src="js/scripts.js"></script>
    </body>
</html>
